.btn {
  // width: 2rem;
  // height: 2rem;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
  background-color: var(--color-primary-light-2);
  border-radius: 8px;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  transition: all 0.3s;

  &:hover {
    background-color: var(--color-primary-light-1);
  }
}

.add-list {
  // padding: 0.8rem 1.2rem;
  white-space: nowrap;
  margin-left: 4rem;
}

// .back {
//   // font-weight: 600;
//   background: none;
//   border: 1px solid currentColor;
//   background-color: var(--color-primary-light-4);
// }

.submit,
.back {
  background-color: var(--color-primary-light-4);
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  white-space: nowrap;
}

.del-list {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;

  color: red;
}
